@import "config";
@import "_utilities.scss";

#main-nav{
    background: #333;
    padding: 0 4rem;
}

.container{
    padding: 0;
}

.section-title {
    font-weight: 500;
}


.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}
